.App {
  text-align: center;
  font-size: 18px;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

#tree {
  text-align: initial;
  padding-left: 600px;
}
li{
  background: url("play.png");
  background-repeat: no-repeat;
  background-size: 15px 15px;
  list-style-type: none;
  padding-left: 25px;
  margin-top: 10px;
  cursor: pointer;

}
